.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    border-color: #6200ea;
    box-shadow: 0 2px 5px rgba(98, 0, 234, 0.2);
  }

  .icon {
    position: absolute;
    left: 10px;
    color: #777;
  }

  input[type="text"] {
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 12px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;

    &:focus {
      background-color: #fff;
    }

    &::placeholder {
      color: #aaa;
      font-weight: 300;
    }
  }
}